
AnalyserDude.xcodeproj/xcuserdata/pshaw.xcuserdatad/xcschemes/AnalyserDude.xcscheme

AnalyserDude.xcodeproj/xcuserdata/pshaw.xcuserdatad/xcschemes/AnalyserTests.xcscheme

AnalyserDude.xcodeproj/xcuserdata/pshaw.xcuserdatad/xcschemes/xcschememanagement.plist

*.o

*.o

*.xcuserstate
